*{
  margin: 0;
  padding: 0;
  font-family: 'Spectral', Serif;
}
body{
  background: #353434;
  background-image:url(https://www.cnet.com/a/img/resize/8b900eb68b72224900564667f259084dcd33b11e/hub/2023/07/05/b8503974-3baa-4311-bfa1-5e5b747c83ad/jujutsu-kaisen-season-2.jpg?auto=webp&fit=crop&height=675&width=1200);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  position: absolute;
  background: #615f5f;
  background-size: 15px;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}